/* body {
    background-color: #f8f9fa;
} */

.welcome-container {
    max-width: 600px;
    margin: auto;
}

.question {
    margin-bottom: 20px;
}

.timer {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    
}


@media (max-width: 768px) {
    .question {
        font-size: 1rem;
    }
    
    .form-check-label {
        font-size: 0.9rem;
    }
    
    .timer {
        font-size: 1.2rem;
    }
}
